<div>
  <h3 class="text-center" style="margin-top: 1%">
    <b><u>Parent Transaction List</u></b>
  </h3>
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <th
          class="mat-header-cell"
          scope="col"
          [appSort]="parents"
          data-order="desc"
          data-name="id"
        >
          ID
        </th>
        <th
          class="mat-header-cell"
          scope="col"
          [appSort]="parents"
          data-order="desc"
          data-name="sender"
        >
          Sender
        </th>
        <th
          class="mat-header-cell"
          scope="col"
          [appSort]="parents"
          data-order="desc"
          data-name="receiver"
        >
          Receiver
        </th>
        <th
          class="mat-header-cell"
          scope="col"
          [appSort]="parents"
          data-order="desc"
          data-name="totalAmount"
        >
          Total Amount
        </th>
        <th
          class="mat-header-cell"
          scope="col"
          [appSort]="parents"
          data-order="desc"
          data-name="totalPaidAmount"
        >
          Total Paid Amount
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="mat-row" *ngFor="let parent of parents">
        <td class="mat-cell">{{ parent.id }}</td>
        <td class="mat-cell">{{ parent.sender }}</td>
        <td class="mat-cell">{{ parent.receiver }}</td>
        <td class="mat-cell">{{ parent.totalAmount }}</td>
        <td
          class="mat-cell"
          (click)="onSelect(parent)"
          style="cursor: pointer; color: blue"
        >
          {{ parent.totalPaidAmount }}
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [pageSizeOptions]="[2]"
    [pageSize]="2"
    [length]="totalElements"
    (page)="nextPage($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
